@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
  min-height: 100%;
  position: relative; }
  html input[type="button"] {
    cursor: pointer; }
  html input [disabled] {
    cursor: default; }

body {
  color: #333;
  font-size: 14px;
  height: 100%;
  margin: 0 0 135px;
  min-height: 100%; }
  @media only screen and (min-width: 230px) and (max-width: 800px) {
    body {
      font-size: 13px; } }

article {
  display: block; }

aside {
  display: block; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: inline;
  margin: 0; }

footer {
  display: block; }

header {
  display: block; }

main {
  display: block; }

menu {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

summary {
  display: block; }

audio {
  display: inline-block;
  vertical-align: baseline; }
  audio:not([controls]) {
    display: none;
    height: 0; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

progress {
  display: inline-block;
  vertical-align: baseline; }

video {
  display: inline-block;
  vertical-align: baseline; }

[hidden] {
  display: none; }

template {
  display: none; }

a {
  cursor: pointer;
  transition: all .3s ease-in-out 0s; }
  a:active {
    outline: 0; }
  a:hover {
    color: #238589;
    outline: 0; }
  a:focus {
    outline: 0; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  clear: both;
  font-size: 24px;
  margin: 0; }

h2 {
  clear: both;
  font-size: 22px;
  margin: 0; }

h3 {
  clear: both;
  font-size: 18px;
  margin: 0; }

h4 {
  clear: both;
  font-size: 16px;
  margin: 0; }

h5 {
  clear: both;
  font-size: 15px;
  margin: 0; }

h6 {
  clear: both;
  font-size: 13px;
  margin: 0; }

mark {
  text-decoration: none; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border: 0;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  width: auto; }

hr {
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin-bottom: 1.5em; }

pre {
  background: #dbdbdb;
  line-height: 0.8;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

select {
  border-color: #dbdbdb;
  border-style: solid;
  border-width: 1px;
  color: #555;
  font-size: 1em;
  height: 29px;
  max-width: 100%;
  text-transform: none; }

textarea {
  border: 1px solid #3a9396;
  border-radius: 3px;
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 1em;
  max-width: 100%;
  overflow: auto;
  padding: 3px 3px 3px 5px; }

input {
  border: 1px solid #3a9396;
  font-size: 1em;
  line-height: 1.5;
  max-width: 100%; }
  input[type="text"] {
    border-radius: 3px;
    padding: 3px 3px 3px 5px;
    width: auto; }
    input[type="text"]:focus {
      outline: 0; }
    input[type="text"]::placeholder {
      font-size: 12px; }
  input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border-radius: 3px;
    padding: 3px 3px 3px 5px;
    text-align: right;
    width: auto; }
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: textfield;
      height: auto; }
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: textfield;
      height: auto; }
  input[type="file"] {
    border: 0;
    padding: 3px 3px 3px 5px;
    width: auto; }
  input[type="email"] {
    border-radius: 3px;
    padding: 3px 3px 3px 5px;
    width: auto; }
  input[type="url"] {
    border-radius: 3px;
    padding: 3px 3px 3px 5px;
    width: auto; }
  input[type="password"] {
    border-radius: 3px;
    padding: 3px 3px 3px 5px;
    width: auto; }
  input[type="reset"] {
    cursor: pointer;
    font-family: Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica; }
  input[type="submit"] {
    cursor: pointer;
    font-family: Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica; }
  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="search"] {
    border-radius: 3px;
    box-sizing: content-box;
    font-size: 1em;
    line-height: 1.5;
    padding: .3em; }

button {
  cursor: pointer;
  font-size: 1em;
  overflow: visible;
  text-transform: none; }
  button[disabled] {
    cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

fieldset {
  border: 1px solid;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5em; }

td {
  padding: .5rem;
  text-align: left; }

th {
  padding: .5rem;
  text-align: left; }

cite {
  font-style: italic; }

em {
  font-style: italic; }

i {
  font-style: italic; }

blockquote {
  background: #dbdbdb;
  display: block;
  margin: 0 1.5em;
  padding: 1em 1em 1em 3em;
  position: relative;
  quotes: '" "'; }
  blockquote:before {
    content: "“";
    font-family: ＭＳ　ゴシック;
    font-size: 700%;
    left: 4px;
    line-height: 1.5;
    position: absolute;
    top: -35px; }
  blockquote:after {
    content: ""; }

address {
  margin: 0 0 1.5em; }

abbr {
  border-bottom: 1px dotted;
  cursor: help; }
  abbr[title] {
    border-bottom: 1px dotted; }

acronym {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  text-decoration: none; }

* {
  box-sizing: inherit; }
  *:before {
    box-sizing: inherit; }
  *:after {
    box-sizing: inherit; }

q {
  quotes: '""'; }
  q:before {
    content: ""; }
  q:after {
    content: ""; }

ul {
  list-style: disc;
  margin: 0;
  -moz-padding-start: 20px;
  -webkit-padding-start: 20px; }

ol {
  list-style: decimal;
  margin: 0;
  -moz-padding-start: 20px;
  -webkit-padding-start: 20px; }

li > ul {
  margin-bottom: 0; }

li > ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

embed {
  max-width: 100%; }

iframe {
  max-width: 100%; }

object {
  max-width: 100%; }

.bbtn {
display: block;
width: 100px;
height: 40px;
background-color: rgb(96, 156, 105);
color: rgb(255, 255, 255);
text-align: center;
text-decoration: none;
padding-top: 10px;
}

.wrapper {
  width: 100%; }
  .wrapper .header-wrapper {
    display: inline-block;
    width: 100%; }
    .wrapper .header-wrapper .site-header {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      padding: 10px;
      position: relative;
      width: 100%; }
      .wrapper .header-wrapper .site-header .site-logo {
        height: 45px;
        margin: 0 auto;
        width: 1024px; }
    .wrapper .header-wrapper .menu-wrapper {
      border-bottom: 1px solid #dbdbdb;
      border-top: 1px solid #dbdbdb;
      display: inline-block;
      width: 100%; }
      .wrapper .header-wrapper .menu-wrapper .menus {
        margin: 0 auto;
        width: 1024px; }
        .wrapper .header-wrapper .menu-wrapper .menus .cart {
          border-left: 1px solid #dbdbdb;
          border-right: 1px solid #dbdbdb;
          float: right;
          text-decoration: none;
          width: 5.5%; }
          .wrapper .header-wrapper .menu-wrapper .menus .cart .buy-now-btn {
            background: #f8f8f8 none repeat scroll 0 0;
            color: #3a9396;
            font-size: 18px;
            font-weight: bold;
            height: 41px;
            line-height: 41px;
            position: relative;
            text-decoration: none;
            transition: all .5s ease 0s;
            width: 100%; }
            .wrapper .header-wrapper .menu-wrapper .menus .cart .buy-now-btn i {
              padding-left: 20px;
              width: 4%; }
            .wrapper .header-wrapper .menu-wrapper .menus .cart .buy-now-btn .buy-item {
              background: #e73656 none repeat scroll 0 0;
              border-radius: 15px;
              color: #fff;
              font-size: 11px;
              height: 18px;
              line-height: 17px;
              position: absolute;
              right: 0;
              text-align: center;
              top: 0;
              width: 18px; }
        .wrapper .header-wrapper .menu-wrapper .menus .searchbox {
          background-color: rgba(219, 219, 219, 0.5);
          float: left;
          width: 34.5%; }
          .wrapper .header-wrapper .menu-wrapper .menus .searchbox .searchform {
            float: right;
            width: 100%; }
            .wrapper .header-wrapper .menu-wrapper .menus .searchbox .searchform .s {
              background-color: #f8f8f8;
              border-color: transparent #dbdbdb;
              border-radius: 0;
              color: #a6a6a6;
              height: 40px;
              width: 86.76%; }
            .wrapper .header-wrapper .menu-wrapper .menus .searchbox .searchform .searchsubmit {
              border: 1px solid transparent;
              color: #3a9396;
              font-family: FontAwesome;
              height: 41px;
              margin-left: -5px;
              padding: 10px 15px 28px;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
        .wrapper .header-wrapper .menu-wrapper .menus .toggle-menu {
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          display: none;
          padding: 12.5px 15px;
          text-decoration: none; }
        .wrapper .header-wrapper .menu-wrapper .menus .main-navigation {
          float: left;
          width: 60%; }
          .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav {
            list-style-type: none;
            padding: 0; }
            .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav:before {
              content: " ";
              display: table; }
            .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav:after {
              clear: both;
              content: " ";
              display: table; }
            .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li {
              border-right: 1px solid #dbdbdb;
              float: left;
              position: relative;
              transition: all .3s ease-in-out 0s; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li:first-child {
                border-left: 1px solid #dbdbdb; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li.active a {
                background-color: #f8f8f8;
                border-color: #3a9396;
                color: #3a9396; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li.hover ul {
                left: 0; }
                .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li.hover ul li {
                  border: 1px solid #dbdbdb;
                  border-top: 0;
                  width: 100%; }
                  .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li.hover ul li:first-child {
                    border-top: 1px solid #dbdbdb; }
                  .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li.hover ul li a {
                    background-color: #fff;
                    border-top: 0;
                    color: #333; }
                    .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav li.hover ul li a:hover {
                      background-color: #f8f8f8;
                      color: #3a9396; }
            .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav ul {
              left: -9999px;
              list-style: none;
              max-width: 100%;
              padding: 0;
              position: absolute;
              z-index: 2; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav ul li {
                border: 1px solid #dbdbdb; }
            .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a {
              border-top: 3px solid transparent;
              color: #333;
              display: block;
              line-height: 38px;
              padding: 0 30px;
              text-decoration: none;
              text-transform: uppercase;
              transition: all .3s ease-in-out 0s; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a:hover {
                background-color: #f8f8f8;
                border-color: #3a9396;
                color: #3a9396;
                transition: all .3s ease-in-out 0s; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a.parent:after {
                content: "\00a0\00a0\00a0\f107";
                font-family: FontAwesome;
                font-size: 14px;
                line-height: 1.5; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a.home:before {
                content: "\f015\00a0\00a0";
                font-family: FontAwesome;
                font-size: 14px;
                line-height: 1.5; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a.category:before {
                content: "\f07c\00a0\00a0";
                font-family: FontAwesome;
                font-size: 14px;
                line-height: 1.5; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a.order:before {
                content: "\f00d\00a0\00a0";
                font-family: FontAwesome;
                font-size: 14px;
                line-height: 1.5; }
              .wrapper .header-wrapper .menu-wrapper .menus .main-navigation .nav a.contact:before {
                content: "\f095\00a0\00a0";
                font-family: FontAwesome;
                font-size: 14px;
                line-height: 1.5; }
  .wrapper .content-wrapper {
    margin: 0 auto;
    width: 1024px; }
    .wrapper .content-wrapper .page {
      display: inline-block;
      width: 100%; }
      .wrapper .content-wrapper .page p {
        word-break: break-all; }
        .wrapper .content-wrapper .page p.text-indent {
          text-indent: 40px; }
          .wrapper .content-wrapper .page p.text-indent:first-letter {
            color: #3a9396;
            font-size: 24px;
            text-transform: uppercase; }
    .wrapper .content-wrapper .required {
      color: #e73656; }
    .wrapper .content-wrapper .error {
      color: #e73656; }

@media only screen and (min-width: 230px) and (max-width: 800px) {
  .active {
    display: block; }
  .nav li {
    border: 1px solid #dbdbdb;
    border-bottom: 0;
    float: none;
    width: 100%; }
    .nav li:last-child {
      border-bottom: 1px solid #dbdbdb; }
  .nav ul {
    display: block;
    width: 100%; } }

@keyframes cycle {
  0% {
    top: 0; }
  4% {
    top: 0; }
  16% {
    opacity: 1;
    top: 0;
    z-index: 0; }
  20% {
    opacity: 0;
    top: 325px;
    z-index: 0; }
  21% {
    opacity: 0;
    top: -325px;
    z-index: -1; }
  92% {
    opacity: 0;
    top: -325px;
    z-index: 0; }
  96% {
    opacity: 0;
    top: -325px; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes cycletwo {
  0% {
    opacity: 0;
    top: -325px; }
  16% {
    opacity: 0;
    top: -325px; }
  20% {
    opacity: 1;
    top: 0; }
  24% {
    opacity: 1;
    top: 0; }
  36% {
    opacity: 1;
    top: 0;
    z-index: 0; }
  40% {
    opacity: 0;
    top: 325px;
    z-index: 0; }
  41% {
    opacity: 0;
    top: -325px;
    z-index: -1; }
  100% {
    opacity: 0;
    top: -325px;
    z-index: -1; } }

@keyframes cyclethree {
  0% {
    opacity: 0;
    top: -325px; }
  36% {
    opacity: 0;
    top: -325px; }
  40% {
    opacity: 1;
    top: 0; }
  44% {
    opacity: 1;
    top: 0; }
  56% {
    opacity: 1;
    top: 0; }
  60% {
    opacity: 0;
    top: 325px;
    z-index: 0; }
  61% {
    opacity: 0;
    top: -325px;
    z-index: -1; }
  100% {
    opacity: 0;
    top: -325px;
    z-index: -1; } }

@keyframes cyclefour {
  0% {
    opacity: 0;
    top: -325px; }
  56% {
    opacity: 0;
    top: -325px; }
  60% {
    opacity: 1;
    top: 0; }
  64% {
    opacity: 1;
    top: 0; }
  76% {
    opacity: 1;
    top: 0;
    z-index: 0; }
  80% {
    opacity: 0;
    top: 325px;
    z-index: 0; }
  81% {
    opacity: 0;
    top: -325px;
    z-index: -1; }
  100% {
    opacity: 0;
    top: -325px;
    z-index: -1; } }

@keyframes cyclefive {
  0% {
    opacity: 0;
    top: -325px; }
  76% {
    opacity: 0;
    top: -325px; }
  80% {
    opacity: 1;
    top: 0; }
  84% {
    opacity: 1;
    top: 0; }
  96% {
    opacity: 1;
    top: 0;
    z-index: 0; }
  100% {
    opacity: 0;
    top: 325px;
    z-index: 0; } }

@keyframes fullexpand {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 0;
    width: 0; }
  4%, 24%, 44%, 64%, 84% {
    opacity: .3;
    width: 0; }
  16%, 36%, 56%, 76%, 96% {
    opacity: .7;
    width: 100%; }
  17%, 37%, 57%, 77%, 97% {
    opacity: .3;
    width: 100%; }
  18%, 38%, 58%, 78%, 98% {
    opacity: 0;
    width: 100%; } }

.content-wrapper .content-slider {
  height: 530px;
  margin: 10px auto 0;
  width: 100%; }
  .content-wrapper .content-slider .slider {
    background: #000;
    border: 3px solid #dbdbdb;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    height: 500px;
    margin: 10px auto 0;
    overflow: visible;
    position: relative;
    width: 100%; }
    .content-wrapper .content-slider .slider .mask {
      height: 494px;
      overflow: hidden; }
      .content-wrapper .content-slider .slider .mask ul {
        margin: 0;
        padding: 0;
        position: relative; }
        .content-wrapper .content-slider .slider .mask ul li {
          height: inherit;
          list-style: none;
          position: absolute;
          top: -325px;
          width: 100%; }
          .content-wrapper .content-slider .slider .mask ul li.firstanimation {
            animation: cycle 25s linear infinite; }
          .content-wrapper .content-slider .slider .mask ul li.secondanimation {
            animation: cycletwo 25s linear infinite; }
          .content-wrapper .content-slider .slider .mask ul li.thirdanimation {
            animation: cyclethree 25s linear infinite; }
          .content-wrapper .content-slider .slider .mask ul li.fourthanimation {
            animation: cyclefour 25s linear infinite; }
          .content-wrapper .content-slider .slider .mask ul li.fifthanimation {
            animation: cyclefive 25s linear infinite; }
          .content-wrapper .content-slider .slider .mask ul li a {
            color: #238589;
            text-decoration: none; }
          .content-wrapper .content-slider .slider .mask ul li img {
            width: 100%; }
    .content-wrapper .content-slider .slider .progress-bar {
      animation: fullexpand 25s ease-out infinite;
      background: #000;
      height: 5px;
      position: relative;
      top: -5px;
      width: 680px; }

.wrapper .content-wrapper .page-header {
  border-left: 5px solid #3a9396;
  color: #333;
  margin-bottom: 20px;
  padding-left: 5px; }

.wrapper .content-wrapper .home-content .new-arrival {
  list-style-type: none;
  padding: 0; }
  .wrapper .content-wrapper .home-content .new-arrival li {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    float: left;
    height: 340px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 23.44%; }
    .wrapper .content-wrapper .home-content .new-arrival li:nth-child(4n) {
      margin-right: 0; }
    .wrapper .content-wrapper .home-content .new-arrival li:hover .product-descrip {
      opacity: 0; }
    .wrapper .content-wrapper .home-content .new-arrival li:hover .product-info {
      opacity: 1;
      transform: translateY(-100%); }
    .wrapper .content-wrapper .home-content .new-arrival li a {
      color: #238589;
      text-decoration: none; }
    .wrapper .content-wrapper .home-content .new-arrival li .item-img {
      height: 290px;
      width: 100%; }
      .wrapper .content-wrapper .home-content .new-arrival li .item-img img {
        height: 100%;
        width: 100%; }
    .wrapper .content-wrapper .home-content .new-arrival li .product-descrip {
      background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
      bottom: 0;
      color: #fff;
      height: 50px;
      padding: 5px;
      position: absolute;
      width: 100%; }
      .wrapper .content-wrapper .home-content .new-arrival li .product-descrip .item-name {
        color: #fff;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-height: 1.5em;
        max-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        font-weight: bold;
        text-decoration: none; }
      .wrapper .content-wrapper .home-content .new-arrival li .product-descrip .price {
        font-size: 12px; }
    .wrapper .content-wrapper .home-content .new-arrival li .caption {
      color: #fff;
      left: 0;
      position: absolute;
      transition: all 300ms ease-out;
      z-index: 100; }
    .wrapper .content-wrapper .home-content .new-arrival li .product-info {
      bottom: -340px;
      display: block;
      height: 340px;
      width: 100%; }
      .wrapper .content-wrapper .home-content .new-arrival li .product-info .product-desc {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 50px;
        padding: 5px;
        position: absolute;
        width: 100%; }
        .wrapper .content-wrapper .home-content .new-arrival li .product-info .product-desc p {
          color: #fff;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          line-height: 1.5em;
          max-height: 15em;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all; }
      .wrapper .content-wrapper .home-content .new-arrival li .product-info .info-descrip {
        background: #3a9396 none repeat scroll 0 0;
        bottom: 0;
        font-size: 12px;
        height: 50px;
        padding: 5px;
        position: absolute;
        width: 100%; }
        .wrapper .content-wrapper .home-content .new-arrival li .product-info .info-descrip .info-price {
          position: relative; }

.content-wrapper .breadcrumbs {
  display: table;
  margin: 0 0 20px;
  width: 100%; }
  .content-wrapper .breadcrumbs .home:before {
    content: "\f015\00a0\00a0";
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 1.5; }
  .content-wrapper .breadcrumbs ul {
    list-style-type: none;
    padding: 0; }
    .content-wrapper .breadcrumbs ul li {
      float: left;
      position: relative; }
      .content-wrapper .breadcrumbs ul li a {
        color: #333;
        display: block;
        line-height: 38px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease-in-out 0s; }
        .content-wrapper .breadcrumbs ul li a:after {
          content: "\00a0\00a0\f101";
          font-family: FontAwesome;
          font-size: 14px;
          line-height: 1.5; }
        .content-wrapper .breadcrumbs ul li a:hover {
          color: #3a9396; }
      .content-wrapper .breadcrumbs ul li span {
        color: #238589;
        display: block;
        line-height: 38px;
        padding: 0 0 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease-in-out 0s; }

.content-wrapper .cart-page .submit-order {
  text-align: center; }
  .content-wrapper .cart-page .submit-order .order {
    background: #3a9396;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    min-width: 120px;
    padding: .5em .6em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in;
    border-radius: 5px;
    margin: 0 20px;
    vertical-align: middle; }
    .content-wrapper .cart-page .submit-order .order:hover {
      background: #238589;
      color: #fff; }
  .content-wrapper .cart-page .submit-order .submit-qty {
    background: #3a9396;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    min-width: 120px;
    padding: .5em .6em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in;
    border-radius: 5px;
    padding: .6em 2em .5em;
    text-decoration: none;
    vertical-align: middle; }
    .content-wrapper .cart-page .submit-order .submit-qty:hover {
      background: #238589;
      color: #fff; }

.content-wrapper .cart-form {
  margin-bottom: 20px; }

.content-wrapper .cart-items-list {
  list-style-type: none;
  padding: 0; }
  .content-wrapper .cart-items-list li {
    border-bottom: 1px solid #dbdbdb;
    padding: 5px; }
    .content-wrapper .cart-items-list li:first-child {
      border-top: 1px solid #dbdbdb; }
    .content-wrapper .cart-items-list li .item-img {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      vertical-align: middle;
      width: 10%; }
    .content-wrapper .cart-items-list li .item-detail {
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
      width: 40%; }
      .content-wrapper .cart-items-list li .item-detail ul {
        list-style-type: none; }
        .content-wrapper .cart-items-list li .item-detail ul li {
          border: 0;
          padding: 0; }
    .content-wrapper .cart-items-list li .item-price {
      display: inline-block;
      margin-right: 20px;
      text-align: right;
      vertical-align: middle;
      width: 10%; }
    .content-wrapper .cart-items-list li .item-qty {
      display: inline-block;
      margin-right: 20px;
      text-align: right;
      vertical-align: middle;
      width: 6%; }
      .content-wrapper .cart-items-list li .item-qty input[type="number"] {
        border-color: #dbdbdb; }
    .content-wrapper .cart-items-list li .item-total {
      display: inline-block;
      margin-right: 20px;
      text-align: right;
      vertical-align: middle;
      width: 10%; }
    .content-wrapper .cart-items-list li .item-delete {
      display: inline-block;
      vertical-align: middle;
      width: 9%; }
      .content-wrapper .cart-items-list li .item-delete a {
        background-color: #3a9396;
        border-radius: 3px;
        color: #fff;
        padding: 7px 10px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.content-wrapper .cart-result {
  border-bottom: 1px solid #dbdbdb;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 5px 0; }
  .content-wrapper .cart-result li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; }
    .content-wrapper .cart-result li.item-img {
      margin-left: 20px;
      width: 10%; }
    .content-wrapper .cart-result li.item-brand {
      width: 40%; }
    .content-wrapper .cart-result li.item-price {
      text-align: right;
      width: 10%; }
    .content-wrapper .cart-result li.item-total {
      text-align: right;
      width: 6%; }
    .content-wrapper .cart-result li.item-total-price {
      text-align: right;
      width: 10%; }
    .content-wrapper .cart-result li.item-delete {
      margin-right: 0;
      width: 9%; }

.checkout .contact-box {
  float: left;
  padding: 0;
  width: 45%; }
  .checkout .contact-box form ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
    width: 100%; }
    .checkout .contact-box form ul li:not(.input-field) span {
      background-color: transparant;
      font-size: 14px; }
    .checkout .contact-box form ul li:not(.input-field) .required {
      color: #e73656;
      font-size: 14px;
      margin: 5px; }
    .checkout .contact-box form ul li:not(.input-field) input[type="text"] {
      border: 1px solid #3a9396;
      height: 30px;
      text-indent: 5px;
      width: 100%; }
    .checkout .contact-box form ul li:not(.input-field) textarea {
      border: 1px solid #3a9396;
      box-sizing: border-box;
      font-size: 1em;
      height: 160px;
      text-indent: -1px;
      width: 100%; }
    .checkout .contact-box form ul li.input-field {
      float: left;
      width: 30%; }
    .checkout .contact-box form ul li.input-label {
      float: right;
      width: 70%; }
  .checkout .contact-box form .submit-order input[type="submit"] {
    background: #3a9396;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    min-width: 120px;
    padding: .5em .6em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in;
    border-radius: 5px;
    display: table; }
    .checkout .contact-box form .submit-order input[type="submit"]:hover {
      background: #238589;
      color: #fff; }

.checkout .order-box {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0 0 0 30px;
  width: 55%; }
  .checkout .order-box .cart-items-list li .item-img {
    margin-left: 0; }
  .checkout .order-box .cart-items-list li .item-total {
    margin-right: 0;
    width: 15%; }
  .checkout .order-box .cart-result li.item-img {
    margin-left: 0; }
  .checkout .order-box .cart-result li.item-total-price {
    margin-right: 0;
    width: 15%; }

.cancel-box form ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
  width: 100%; }
  .cancel-box form ul li span {
    background-color: transparant;
    font-size: 14px; }
  .cancel-box form ul li .required {
    color: #e73656;
    font-size: 14px;
    margin: 5px; }
  .cancel-box form ul li input[type="text"] {
    border: 1px solid #3a9396;
    height: 30px;
    text-indent: 5px;
    width: 50%; }

.cancel-box form .submit-order input[type="submit"] {
  background: #3a9396;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  min-width: 120px;
  padding: .5em .6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in;
  border-radius: 5px;
  display: table; }
  .cancel-box form .submit-order input[type="submit"]:hover {
    background: #238589;
    color: #fff; }

.cart-page.initial {
  display: none; }

.cart-page.cancel-order .cart-items-list li .item-total {
  width: 20%; }

.cart-page.cancel-order .cart-result li.item-total-price {
  width: 20%; }

.cart-page .order-id {
  color: #e73656;
  display: inline-block;
  font-size: 16px;
  list-style: none;
  padding: 0;
  width: 100%; }
  .cart-page .order-id li {
    float: left; }
    .cart-page .order-id li:last-child {
      margin-left: 10px; }

.confirm-box {
  box-sizing: border-box;
  padding: 10px; }
  .confirm-box .order-id {
    color: #e73656;
    display: inline-block;
    font-size: 16px;
    list-style: none;
    padding: 0;
    width: 100%; }
    .confirm-box .order-id li {
      float: left; }
      .confirm-box .order-id li:last-child {
        margin-left: 10px; }
  .confirm-box .cart-items-list li .item-total {
    width: 20%; }
  .confirm-box .cart-result li.item-total-price {
    width: 20%; }

.wrapper .content-wrapper .list-product {
  display: table;
  margin-bottom: 20px;
  width: 100%; }
  .wrapper .content-wrapper .list-product .result-product {
    border: 1px none;
    border-radius: 1px;
    float: left;
    padding: 0;
    width: 40%; }
    .wrapper .content-wrapper .list-product .result-product .result-combo {
      -webkit-appearance: none;
      background: transparent;
      font-size: 14px;
      margin: 3px;
      padding-left: 8px; }
  .wrapper .content-wrapper .list-product .paginate {
    float: right;
    text-align: right;
    width: 60%; }
    .wrapper .content-wrapper .list-product .paginate ul {
      display: inline-block;
      list-style-type: none;
      padding: 0;
      width: auto; }
      .wrapper .content-wrapper .list-product .paginate ul li {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        color: #3a9396;
        float: left;
        margin: 2px;
        padding: 1px 10px; }
        .wrapper .content-wrapper .list-product .paginate ul li.active {
          background: #3a9396;
          color: #fff;
          cursor: default; }
          .wrapper .content-wrapper .list-product .paginate ul li.active a {
            color: #fff; }
        .wrapper .content-wrapper .list-product .paginate ul li.prev.disabled {
          display: none; }
        .wrapper .content-wrapper .list-product .paginate ul li.next.disabled {
          display: none; }
        .wrapper .content-wrapper .list-product .paginate ul li:hover {
          background: #3a9396;
          color: #fff; }
          .wrapper .content-wrapper .list-product .paginate ul li:hover a {
            color: #fff; }
          .wrapper .content-wrapper .list-product .paginate ul li:hover span {
            color: #fff; }
      .wrapper .content-wrapper .list-product .paginate ul a {
        color: #3a9396;
        text-decoration: none; }

.product-detail .details-left-slider {
  float: left;
  width: 35%; }

.product-detail .details-left-info {
  float: left;
  margin-left: 5%;
  width: 60%; }
  .product-detail .details-left-info p.detail-price {
    color: #e73656;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  .product-detail .details-left-info .color-combo {
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    vertical-align: middle;
    width: 20%; }
  .product-detail .details-left-info .size-combo {
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    vertical-align: middle;
    width: 20%; }
  .product-detail .details-left-info .detail-qty {
    border-color: #dbdbdb;
    height: 30px;
    vertical-align: middle;
    width: 10%; }
  .product-detail .details-left-info .buy {
    margin: 35px 0; }
    .product-detail .details-left-info .buy input[type="submit"] {
      background: #3a9396;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1em;
      min-width: 120px;
      padding: .5em .6em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      transition: all .2s ease-in;
      border-radius: 5px;
      display: table;
      font-family: Fontawesome;
      font-size: 24px; }
      .product-detail .details-left-info .buy input[type="submit"]:hover {
        background: #238589;
        color: #fff; }
  .product-detail .details-left-info .flower-type {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    margin: 2em 0;
    padding: 10px; }

.product-detail .single-bottom2 {
  margin-top: 20px; }

.product-detail .rltd-posts .pst {
  float: left;
  margin-right: 20px;
  width: 20%; }

.wrapper .content-wrapper .contact-page .contact-form div {
  padding: 10px 5px; }

.wrapper .content-wrapper .contact-page .contact-form span {
  display: block; }

.wrapper .content-wrapper .contact-page .contact-form textarea {
  height: 130px;
  width: 45.5%; }

.wrapper .content-wrapper .contact-page .contact-form input[type="text"] {
  width: 45.5%; }

.wrapper .content-wrapper .contact-page .contact-form input[type="email"] {
  width: 45.5%; }

.wrapper .content-wrapper .contact-page .contact-form input[type="submit"] {
  background: #3a9396;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  min-width: 120px;
  padding: .5em .6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in;
  border-radius: 5px; }
  .wrapper .content-wrapper .contact-page .contact-form input[type="submit"]:hover {
    background: #238589;
    color: #fff; }

.footer-wrapper {
  border-top: 2px solid #dbdbdb;
  bottom: 0;
  height: 115px;
  margin: 20px auto 0;
  position: absolute;
  width: 100%; }
  .footer-wrapper .footer-content {
    display: table;
    margin: 0 auto;
    width: 1024px; }
    .footer-wrapper .footer-content .pagetop {
      bottom: 10%;
      opacity: 0;
      position: fixed;
      right: 25px;
      z-index: 9999;
      zoom: 1; }
      .footer-wrapper .footer-content .pagetop a {
        background: #3a9396 none repeat scroll 0 0;
        border-radius: 2px;
        color: #fff;
        display: block;
        font-weight: bold;
        outline: none;
        padding: 15px 20px;
        text-decoration: none; }
        .footer-wrapper .footer-content .pagetop a:before {
          content: "\f176";
          font-family: FontAwesome;
          font-size: 12px; }
        .footer-wrapper .footer-content .pagetop a:hover {
          background: #238589 none repeat scroll 0 0; }
    .footer-wrapper .footer-content .footer-menu {
      display: table;
      padding: 10px 0;
      width: 100%; }
      .footer-wrapper .footer-content .footer-menu ul {
        list-style-type: none;
        padding: 0; }
        .footer-wrapper .footer-content .footer-menu ul li {
          float: left;
          margin-right: 10px; }
          .footer-wrapper .footer-content .footer-menu ul li a {
            color: #333;
            font-size: 12px;
            text-decoration: none; }
            .footer-wrapper .footer-content .footer-menu ul li a:before {
              color: #238589;
              content: "\f042\00a0";
              font-family: FontAwesome;
              font-size: 12px; }
            .footer-wrapper .footer-content .footer-menu ul li a:hover {
              color: #3a9396; }
    .footer-wrapper .footer-content .copyright {
      clear: both;
      float: right;
      font-size: 11px;
      text-align: right; }


.btnstyle{
      display: block;
      border-radius: 5px;
      width: 120px;
      height: 36px;
      background-color: #6dad77;
      color: rgb(255, 255, 255);
      text-align: center;
      text-decoration: none;
      padding-top: 7px;
      float: left;
      margin-right: 25px;
    }
    .btnstyle1{
      background: #6dad77;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      min-width: 50px;
      padding: .4em .5em;
      margin: -5px;
      text-shadow: 0 1px 1px rgba(0,0,0,0.3);
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      font-size: 12px;
      text-decoration: none;
    }
    .btnspace-right{
      margin-right: 30px;
    }
    .error_msg{
      color: red;
    }
    .remove-bullet{
      list-style: none;
      margin-right: 10px;
    }
